@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  text-transform: none;
  border-radius: 3px;
}
.btn-group {
  border-radius: 3px;
}

.zero-xy::before{
  @layer .font-mono;
  @layer .font-thin;
  content: 'X0,Y0';
  
}

.zero-z::before{
  @layer .font-mono;
  @layer .font-thin;
  content: 'Z0';
}

.mdl {
  transform: translateY(100%);
  transition: 1.0s;
}

.mdl.mdl-visible {
  transition: 1.0s;
  transform: translateY(0%);
}

.status-header {
  @apply w-full p-1 text-center align-middle text-sm;
}

.status.ok {
  @apply bg-green-300;
  @apply text-green-800;
}

.status.disconnected {
  @apply bg-rose-300;
  @apply text-rose-800;
}

.nav {
  @apply flex;
  @apply grow-0;
  @apply border-t-[1px] border-accent bg-slate-100;
  
}

.nav button {
  @apply border-0 text-slate-500;
  @apply p-2;
  @apply grow;
}
