@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block rounded border border-indigo-600 text-indigo-400 
      px-12 py-3 text-sm font-medium hover:bg-none focus:outline-none focus:ring;
  }
}

.btn-sm {
  @apply px-2 py-1;
}

.machine-controls .btn {
  @apply border-none text-current;
}

.zero-xy::before{
  @layer .font-mono;
  @layer .font-thin;
  content: 'X0,Y0';
  
}

.zero-z::before{
  @layer .font-mono;
  @layer .font-thin;
  content: 'Z0';
}

.mdl {
  transform: translateY(100%);
  transition: 1.0s;
}

.mdl.mdl-visible {
  transition: 1.0s;
  transform: translateY(0%);
}

.status-header {
  @apply w-full p-1 text-center align-middle text-sm;
}

.status.ok {
  @apply bg-green-300;
  @apply text-green-800;
}

.status.disconnected {
  @apply bg-rose-300;
  @apply text-rose-800;
}

.nav {
  @apply flex;
  @apply grow-0;
  @apply border-t-[1px] border-cyan-300 bg-slate-100;
  
}

.nav button {
  @apply border-0 text-slate-500;
  @apply p-2;
  @apply grow;

}

.nav button.active {
  @apply bg-cyan-300
}


table,thead,tr,th,td {
  @apply rounded-lg;
  @apply border-separate;
}

thead {
  @apply bg-slate-200;
}

.port-status-pending {
  @apply bg-yellow-100;
  @apply text-yellow-800;
}

.port-status-disconnected {
  @apply bg-blue-100;
  @apply text-blue-800;
}

.port-status-connected {
  @apply bg-green-100;
  @apply text-green-800;
}

.port-status-error {
  @apply bg-red-300;
  @apply text-red-900;
}

.mdl [slot=heading]
{
  @apply w-full bg-gray-200 p-2 text-center block;
}

.link {
  @apply underline;
}